<p>landing-page works!</p>

<router-outlet name="withoutParams"></router-outlet>

<router-outlet name="withParams"></router-outlet>


<button (click)="router.navigate(['/side']);">
  <span>Go to side Page</span>
</button>

<button (click)="addSession();">
  <span>Login</span>
</button>

<button (click)="clearSession();">
  <span>Logout</span>
</button>
